@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CashierSessionDto
@{
    Layout = null;
}


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Cashier Session</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <form asp-action="CreateNewCashierSession" method="post">
        <div class="modal-body">
            <input type="hidden"  asp-for="cashierSession.Id">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Date</label>
                        <input class="form-control " type="text" id="txtMobileNumber" asp-for="sessionDate" placeholder="Mobile Number" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Cashier Name</label>
                        <input class="form-control " type="text" id="txtMobileNumber" asp-for="user.FullName" placeholder="Mobile Number" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Start Amount</label>
                        <input class="form-control " type="number" id="txtTelephoneNumber" asp-for="cashierSession.StartBalence" placeholder="Telephone Number" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">End Amount</label>
                        <input class="form-control " type="number" id="txtTelephoneNumber" asp-for="cashierSession.EndBalence" placeholder="Telephone Number" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @if(Model.cashierSession.Id > 0){
                            if (Model.cashierSession.cashierSessionStatus == 0){
                                <button type="submit" class="btn btn-danger btn-block waves-effect">END </button>
                            }
                                                    
                        }else{
                            <button type="submit" class="btn btn-primary btn-block waves-effect"> START</button>
                        }



                    </div>
                </div>




            </div>

        </div>
        <div class="modal-footer">

        </div>
    </form>
</div>
<!-- /.modal-content -->
