@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserDto
@{
    Layout = null;
}


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Add/Edit User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <form asp-action="ChangeUserPassword" method="post">
        <div class="modal-body">
            <input type="hidden" id="custId" asp-for="user.Id">
            <div class="row">
                @if (Model.user.Password != null){

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">New Password</label>
                            <input class="form-control " asp-for="user.Password" type="password" id="txtPassoword1" placeholder="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">Confirm Password</label>
                            <input class="form-control " asp-for="user.Password" type="password" id="txtPassoword2" placeholder="" />
                        </div>
                    </div>
                }



            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn  waves-effect btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->
